/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
}

h1 {
  font-family: 'Pirata One', cursive;
  font-size: 3rem;
}
p {
  font-size: 1.6rem;
  font-family: 'Roboto Slab', serif;
}

/*                              Welcome Page                                   */

.welcome-page {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url("./background-images/cave.jpg");
  background-size: cover;
  height: 100vh;
  background-position: 50% 0;
}

.title {
  margin: 4rem 0.1rem;
  text-align: center;
  font-size: 3.7rem;
  font-weight: bold;
  letter-spacing: 13px;
  color: gold;
}

.description-container {
  background: url("./background-images/map.png");
  background-size: cover;
  /* border: 3px solid red; */
  border-radius: 11px;
  margin-bottom: 4rem;
  overflow: hidden;
}

.description {
  overflow: auto;
  max-width: 300px;
  width: 100%;
  font-size: 1.4rem;
  height: 40vh;
  padding: 1rem;
  margin: 0 auto;
  /* background-color: rgba(255, 255, 255, .5); */
}

.description::-webkit-scrollbar-corner {
  border-radius: 11px;
}
.description::-webkit-scrollbar-corner {
  border-radius: 11px;
}

.description__game {
  margin-bottom: 1rem;
  font-size: 2rem;
  line-height: 1.25;
}

.description__sprint {
  font-size: 2rem;
  line-height: 1.25;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 6.5rem;
    margin: 6rem 0.1rem;
  }
  .description-container {
    margin-bottom: 45px;
  }
  .description {
    max-width: 525px;
  }
  .description__game {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    line-height: 1.35;
  }
  .description__sprint {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    line-height: 1.35;
  }
}
@media only screen and (min-width: 834px) {
  .title {
    font-size: 7.5rem;
  }
  .description-container {
    margin-bottom: 50px;
  }
  .description {
    max-width: 580px;
  }
  .description__game {
    font-size: 3.9rem;
  }
  .description__sprint {
    font-size: 3.9rem;
  }
}
@media only screen and (min-width: 1025px) {
  .title {
    font-size: 10.5rem;
  }
  .description-container {
    margin-bottom: 60px;
    max-width: 850px;
    width: 100%;
  }
  .description {
    max-width: 800px;
  }
  .description__game {
    font-size: 4rem;
    margin-bottom: 5rem;
    line-height: 1.45;
  }
  .description__sprint {
    font-size: 4rem;
    line-height: 1.45;
  }
}


/*                                 buttons                                              */

.start-btn, 
.start-btn:link, 
.start-btn:visited {
  font-size: 22px;
  font-weight: 600;
  max-width: 200px;
  width: 100%;
  height: 50px;
  text-decoration: none;
  border-radius: 11px;
  text-align: center;
  border: 1px solid red;
  padding-top: 13px;
  font-family: 'Pirata One', cursive;
  letter-spacing: 2px;
  background-color: gold;
  transition: all .1s;
  box-shadow: 0 3px 1px rgba(0, 0, 0, .5);
}
/* for desktop */
/* .start-btn:hover{
  transform: translateY(-0.3px);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.2);
} */
.start-btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}

@media only screen and (min-width: 1025px) {
  .start-btn:hover {
    transform: scale(1.2);
    color: red;
    letter-spacing: 4px;
  }
  .start-btn:active {
    transform: scale(1);
  }
}


/*                                 footer                                               */

.footer {
  display: flex;
  flex-flow: column-reverse;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ffffff;
  background-color: gray;
}

.copyright {
  text-align: center;
  margin: 1rem 0;
}

.footer__links {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.footer__link,
.footer__link:link,
.footer__link:visited {
  font-size: 1.1rem;
  color: darkblue;
}

@media only screen and (min-width: 768px) {
  .copyright {
    font-size: 2rem;
    margin: 1.25rem 0;
  }
  .footer__link,
  .footer__link:link,
  .footer__link:visited {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 834px) {
  .copyright {
    font-size: 2.25rem;
  }
  .footer__link,
  .footer__link:link,
  .footer__link:visited {
    font-size: 1.65rem;
  }
}
@media only screen and (min-width: 1025px) {
  .footer {
    flex-flow: row;
    justify-content: space-between;
  }
  .copyright {
    font-size: 2.25rem;
    margin-left: 25px;
  }
  .footer__links {
    align-items: center;
    justify-content: space-evenly;
    max-width: 450px;
    width: 100%;
    margin-top: 0;
  }
  .footer__link,
  .footer__link:link,
  .footer__link:visited {
    font-size: 1.85rem;
  }
}
